ResourcePasteSaver/ResourcePasteSaver.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ResourcePasteSaver/ResourcePasteSaver.xcodeproj/project.xcworkspace/xcuserdata/qiuyg.xcuserdatad/UserInterfaceState.xcuserstate
ResourcePasteSaver/ResourcePasteSaver.xcodeproj/xcuserdata/qiuyg.xcuserdatad/xcschemes/ResourcePasteSaver.xcscheme
ResourcePasteSaver/ResourcePasteSaver.xcodeproj/xcuserdata/qiuyg.xcuserdatad/xcschemes/xcschememanagement.plist
